$spacer-0: 0px;
$spacer-4: 4px;
$spacer-6: 6px;
$spacer-8: 8px;
$spacer-10: 10px;
$spacer-12: 12px;
$spacer-14: 14px;
$spacer-16: 16px;
$spacer-20: 20px;
$spacer-24: 24px;
$spacer-28: 28px;
$spacer-32: 32px;
$spacer-36: 36px;
$spacer-40: 40px;
$spacer-48: 48px;
$spacer-50: 50px;
